
     
<div class="form-group">
  
  <span class="selectOne">
    <label for="crypto" >Crypto</label>
    <select ng-options="option for option in cryptoTypes" 
              ng-model="selectedCrypto"
              id = 'crypto'
              ng-change="selectedCryptoChanged()">
    </select>
  </span>

  <span class="selectTwo">
    <label for="currency">Currency</label>
    <select ng-options="option for option in currencyTypes" 
              ng-model="selectedCurrency"
              id="currency" 
              ng-change="selectedCurrencyChanged()">
    </select>
  </span>

  <span class="processedTime" align = "right">{{currentTime}}</span>

</div>

<div class="row">

  <div class="col-md-5">

    <table class="table" id="table1">
      <thead class="thead-light">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Price</th>
          <th scope="col">Change (1 hr)</th>
          <th scope="col">Volume Traded (24 hr)</th>
        </tr>
      </thead>

      <tbody class="text-primary">
        <tr>
          <td scope="col">{{base}}</td>
          <td scope="col">{{price | currency}}</td>
          <td scope="col">{{change}}</td>
          <td scope="col">{{volume}}</td>
        </tr>
          
      </tbody>
    </table>

    <table class="table table-hover table-responsive" id="table2" >
      <thead >
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Market</th>
          <th scope="col">Price</th>
          <th scope="col">Volume Traded (24 hr)</th>
        </tr>
      </thead>

      <tbody class=" text-primary " >
        <tr ng-repeat= "values in marketArray" class="secondTableBody">
          <td scope="col">{{$index + 1}}</td>
          <td scope="col">{{values.market}}</td>
          <td scope="col">{{values.price | currency}}</td>
          <td scope="col">{{values.volume}}</td>
        </tr>
          
      </tbody>
    </table>
  </div>
<!-- End of firt col-md-5 -->
  <div class="col-md-7">
    <canvas id="barChart1" width="350" height="400"></canvas>
  </div>

</div>