$darkSlate: #686b73;
$strongSlate: #44464b;
.form-group {
	span{
		margin-left: 1em; margin-right: 2em;
		select{
			padding: 0.2em; color: $strongSlate;
		}
	}
	label{
		color: $darkSlate;
	}
}

.processedTime{
	float: right;
}


#barChart1{
	margin-top: 1em; margin-left: 1em; max-height: 30em;
	overflow: auto;
}